# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
DerivedData/

# macOS
.DS_Store

# Temporary files
*.tmp
*.temp

# Other
*.orig
*.bak